body {
  background-image: url('./components/Asssests/home-banner-background.png');
  background-size: 30%; 
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #f5f5f5;

  position: relative; 
  box-sizing: border-box !important;


}
body::before {

  position: absolute;
  top: 50px; 
  left: 0;
  height: 100%;
  width: 50%;
  background-image: url('../src//components/Asssests/about-background.png');
  background-size: 30%; 
  background-repeat: no-repeat;
  z-index: -1; 
  margin-top: 900px;
  box-sizing: border-box !important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}


